* 
{
margin:0px;
padding:0px;
}

h1,h2,h3,h4,h5,h6,
span,p,ul,li,
form,input,object {
	margin:0px;
	padding:0px;
	
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
html{
	margin:0px;
	padding:0px;
	
}

body{
	background-color:#E0E0E0;
	margin:0px auto;
	padding:0px;
	width:960px;
	min-height:1200px;
	font:normal 15px Arial, Helvetica, sans-serif;
}

img{
	border:0px;
}

#body-container{
	width: 980px;
	margin:0px auto;
	padding:0px;
	min-height:inherit;
}

#header{
	width:260px;
	min-height:inherit;
	border-right: solid #FF8C38 1px;
}

#logo{
	padding:20px 0px 0px 0px;
	margin:0px;
	float:left;
}

#main-menu{
	list-style-type:none;
	float:right;
	margin:60px 0px 0px 0px;
	padding:0px;
}

#main-menu li{
	list-style-type:none;
	float:right;
	margin:0px;
	padding:0px;
}


.menu{
	background:url(/images/menu-long.png) no-repeat;
	width:145px;
	height:50px;
}
.menu a{
	width:145px;
	text-align:right;
	line-height:50px;
	color:#FFF;
	font-size:20px;
	text-decoration:none;
	margin-left:20px;
}
/*#menu-home a{
	
	margin-left:82px;
}
#menu-expert a{
	
	margin-left:82px;
}
*/






#main{
	width:720px;
	position:absolute;
	margin-left:260px;
	top:0;
}

#showcase{
	margin-top:25px;
	height:490px;
	border: solid #FF8C38 1px;
}
