<ul id="page-menu">
	<li>flooring</li>
	<li>painting</li>
	<li>restoration</li>
</ul><!-- end ul class="page-menu" -->

<p class="expertise">The menu in the upper right can link to pages with more information about each subject.  The slideshow can also be updated with content specific images.</p>
