<ul id="page-menu">
	<li>flooring</li>
	<li>painting</li>
	<li>restoration</li>
</ul><!-- end ul class="page-menu" -->

<p class="expertise">The menu in the upper right can link to pages with more information about each subject.  The slideshow can also be updated with content specific images.</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac velit quis enim posuere luctus et eu velit. Aliquam non pretium est. Donec luctus arcu nec leo auctor ultricies. Curabitur mattis, elit viverra ultricies luctus, augue nunc posuere leo, eu pretium nisi turpis sed nisi. Etiam mattis consequat tellus vel fringilla. Proin nisi lorem, interdum vitae accumsan quis, porta id nunc. Aliquam augue tellus, accumsan a ultricies lobortis, tempor sed magna. Proin ut pharetra enim. Maecenas id venenatis lacus. Vestibulum egestas lobortis enim non cursus. Nam turpis justo, rutrum eu porttitor vel, rhoncus ut velit. Duis egestas libero hendrerit mi malesuada non tristique arcu tempus. Mauris varius dui et nulla fermentum tempor. Etiam facilisis lacus quis enim suscipit feugiat. Aenean urna mi, pellentesque quis lacinia congue, dignissim eget urna.
	</p>
	