<p>Robert H. Barr Restoration, LLC is the most customer-service oriented home improvement company in the Lexington area!</p>
<p>Robert makes sure to take the time needed to keep his customers coming back again and again! Here at Robert H. Barr Restoration, LLC, we specialize in restoring older homes and updating newer ones. We focus on hardwood floors and painting, but we can also do so much more!</p>
<p>Call us today and begin your home improvement project now! As a former educator, Robert has a great demeanor and understands the need for great customer service!</p>
<p>Some more facts about us: We are an A+ rated member of the Better Business Bureau. We only use Porter Professional paint. Materials purchased will be provided at the contractor's price. We are proud to be a Christian-owned business.</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel libero eu odio ullamcorper porttitor. Aliquam ac velit sit amet libero pellentesque consequat non eget est. Suspendisse a dui turpis. Aliquam quis leo justo, sed iaculis dui. Vestibulum id metus nisl, vel venenatis elit. Vestibulum euismod auctor accumsan. Cras vel porttitor nisl.
</p>
