<p>
	Robert H. Barr Restoration, LLC<br/>
	(859) 559-7002<br/>
	1547 Pine Needles Ln, Lexington, KY 40513-1503<br/>
	<%= mail_to "ellen.m.guinnip@gmail.com", "Email us!", :cc => "ellen@archvision.com",
	         :subject => "Email from website." , :body => "I need help! My house sags towards the center!" %>
</p>

